<a href="https://colab.research.google.com/github/AndresInsuasty/ejercicios-python/blob/main/cesmag_clase_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = input("Cual es tu nombre")
print("Hola, mucho gusto:", nombre)

Cual es tu nombreAndres
Hola, mucho gusto: Andres

In [ ]:
import random
numero_persona = int(input("Dame un numero: "))
numero_maquina = random.randint(1,3)
print("El numero de la persona es: ",numero_persona)
print("El numero de la maquina es: ",numero_maquina)
if numero_persona == numero_maquina:
    print("Ha ganado la Maquina, Matrix!!")
else:
    print("Ha ganado la persona")

Dame un numero: 1
El numero de la persona es:  1
El numero de la maquina es:  3
Ha ganado la persona

In [ ]:
alfabeto = 'abcdefghijklmnñopqrstuvwxyz12345'
print(len(alfabeto))
mensaje_original = input("Dame un Mensaje a cifrar: ")

clave = 16

# cifrar mensaje con rot13
mensaje_cifrado = ''
for caracter in mensaje_original:
    if caracter in alfabeto:
        posicion = alfabeto.find(caracter)
        nueva_posicion = (posicion + clave) % len(alfabeto)
        mensaje_cifrado = mensaje_cifrado + alfabeto[nueva_posicion]
print(f'Mensaje original: {mensaje_original}')
print(f'Mensaje cifrado: {mensaje_cifrado}')

32
Dame un Mensaje a cifrar: w51p
Mensaje original: w51p
Mensaje cifrado: hola

In [ ]:
import hashlib
data = input("Dame un texto: ")
encoded_data = data.encode('utf-8')
print("encoded_data",encoded_data)
md5_hash = hashlib.md5()
md5_hash.update(encoded_data)
print("md5_hash",md5_hash)
hex_digest = md5_hash.hexdigest()
print(f"Original string: {data}")
print(f"MD5 hash: {hex_digest}")

Dame un texto: hola
encoded_data b'hola'
md5_hash <md5 _hashlib.HASH object @ 0x7d85a87f52f0>
Original string: hola
MD5 hash: 4d186321c1a7f0f354b297e8914ab240

In [38]:
import pandas as pd

ruta_archivo="/content/sample_data/california_housing_test.csv"
datos = pd.read_csv(ruta_archivo)

datos.sample(4)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1772,-119.03,35.42,45.0,1628.0,352.0,754.0,334.0,2.5703,62400.0
795,-122.29,37.53,35.0,2043.0,511.0,1089.0,504.0,3.0278,310600.0
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2399,-117.95,33.90,15.0,3057.0,479.0,1679.0,498.0,6.8429,372600.0

In [49]:
import pandas as pd

ruta_archivo = "/content/compras_semana.csv"

datos = pd.read_csv(ruta_archivo)
datos['total'] = datos['precio'] * datos['cantidad']

total_compras=datos['total'].sum()
print("total de compra: ", total_compras)

promedio_compras=datos['total'].mean()
print("promedio de compra: ", promedio_compras)

mediana_compras = datos['total'].median()
print("mediana de la compra: ", mediana_compras)

compra_minima=datos['total'].min()
print("compra minima: ", compra_minima)

std = datos['total'].std()
print("Desviacion estandar: ", std)

var = datos['total'].var()
print("Varianza: ", var)

registro_conteo = datos['total'].count()
print("Registro conteo: ", registro_conteo)

datos['total'].describe()

total de compra:  44.699999999999996
promedio de compra:  4.47
mediana de la compra:  3.55
compra minima:  2.4
Desviacion estandar:  2.6637692592765365
Varianza:  7.095666666666667
Registro conteo:  10

count    10.000000
mean      4.470000
std       2.663769
min       2.400000
25%       2.625000
50%       3.550000
75%       4.700000
max      10.000000
Name: total, dtype: float64

In [50]:
datos.describe()

          precio   cantidad      total
count  10.000000  10.000000  10.000000
mean    2.970000   2.100000   4.470000
std     2.383298   1.449138   2.663769
min     0.800000   1.000000   2.400000
25%     1.275000   1.000000   2.625000
50%     2.250000   1.500000   3.550000
75%     3.725000   2.750000   4.700000
max     8.500000   5.000000  10.000000

In [51]:
import pandas as pd
ruta_archivo = "/content/peliculas_favoritas.json"

datos=pd.read_json(ruta_archivo)
datos

                titulo   año  puntuacion  duracion_minutos           genero
0  El viaje de Chihiro  2001         8.9               125        Animación
1     La vida es bella  1997         8.6               116            Drama
2         Pulp Fiction  1994         8.5               154           Crimen
3               Matrix  1999         8.7               136  Ciencia ficción
4         Forrest Gump  1994         8.8               142            Drama
5            Inception  2010         8.8               148  Ciencia ficción

In [52]:
datos.describe()

               año  puntuacion  duracion_minutos
count     6.000000    6.000000          6.000000
mean   1999.166667    8.716667        136.833333
std       5.980524    0.147196         14.288690
min    1994.000000    8.500000        116.000000
25%    1994.750000    8.625000        127.750000
50%    1998.000000    8.750000        139.000000
75%    2000.500000    8.800000        146.500000
max    2010.000000    8.900000        154.000000